#about {
    @include section-basics();

    .about-title {
        @include section-title();
        padding-top: 2em;
    }
    .container {
        width: 100%;
        height: 100%;
        padding-top: 5em;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: center;
        column-gap: 20px;

        @media screen and (max-width: 786px) {
            display: inline-block;
        }

        .photo {
            min-width: 300px;
            box-shadow: -1px 1px 1px 1px $background-section;
            background-image: linear-gradient(#01004b5d, rgba(14, 1, 44, 0.068)),url('../images/monica.jpg');
            padding: 100px;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto;

            @media screen and (max-width: 1024px) {
                width: 50%;
            }

            @media screen and (max-width: 786px) {
                width: 100%;
                height: 50vh;
            }

        }

        .profile {
            width: 40%;
            display: flex;
            font-weight: 300;
            text-align: center;
            flex-direction: column;

            @media screen and (max-width: 1024px) {
                width: 100%;
            }

            h5 {
                @include secondary-title();
                margin: 3em auto;
            }

            .lewagon {
                display: inline;
                height: 32px;
                min-height: 20px;
                margin: 4px;
                margin-bottom: -12px;
                width: auto;
                margin-top: 0;
            }
            .meet-monica {
                color: $pink-color;
            }
        }


        button {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.356);
            box-shadow: inset 1px 1px 1px 1px #a3a3a325;
            padding: 1.2em 2em;
            margin: 2em 0.5em;
            cursor: pointer;
            text-transform: uppercase;
            border-radius: 50px;
            font-weight: 700;
            font-size: 0.7rem;
            transition: 0.3s ease-in;

            a {
                text-decoration: none;
                color: white;
            }

            &:hover {
                border: 1px solid #ff1b509a;
                box-shadow: inset 1px 3px 1px 1px #a3a3a325;
            }

            @media screen and (max-width: 450px) {
                margin: 0.5em;
            }
        }
    }
}


#experience {
    @include section-basics();

    .experience-title {
        @include section-title();
        padding-top: 2em;
        margin-bottom: 1em;
    }
    .container {
        padding-top: 2em;
        margin: auto;
        justify-content: center;
        width: 70%;

        @media screen and (max-width: 1024px) {
          width: 100%;
      }
        .profile {
            font-weight: 300;
            text-align: center;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }

            h5 {
                @include secondary-title();
            }
            small {
              color: rgba(255, 255, 255, 0.5);
              font-size: 12px;
            }

            a {
              color: $pink-color;
            }

        }
    }
  }