@import "./variables";
@import "./animation";

//PROJECTS SECTIONS
@import "./navbar";
@import "./home";
@import "./about";
@import "./experience";
@import "./portfolio";
@import "./services";
@import "./contact";


// PAGE SETTING

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}


html {
    background-image: url("../images/background.jpg");
    background-size: cover;
    scroll-behavior: smooth;
}


footer {
    padding-top: 5em;
    text-align: end;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8rem;
}

